body {
  background-color: pink;
}

/* Header */
.header {
  margin: 0 auto;
  height: 25vh;
  width: 100vh;
  border-bottom: 2px solid red;
}

.playwrite-tz-guides-regular {
  font-family: "Playwrite TZ Guides", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  text-align: center;
  margin: 30px auto;
}

.header-nav {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 75px auto;
}

li {
  font-family: "Playwrite TZ Guides";
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.footer p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.footer span {
  font-size: 40px;
}

.tof {
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 50px;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery img {
  width: 600px;
}

.about-container {
  width: 1080px;
  height: 500px;
  margin: 75px auto;
}

.about-container p {
  font-family: arial;
  line-height: 40px;
  font-size: 18px;
}
